.one{
    background: #120123;
    color: #fff;
    text-align: center;
}
.one h1{
    font-size: 60px;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.one p{
    padding: 0 15%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.four{
    background: #000;
    background-size: cover;
    background-position: center center;
}
.two{
    background: #000;
    background-size: cover;
    background-position: center center;
}
.five{
    background: #000;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color:#fff
}
.five h1{
    font-size: 60px;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.five p{
    padding: 0 15%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.three{
    background: #000;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color:#fff
}
.six{
    display: block;
    text-decoration: none;
    background: #fff;
    margin: 0 auto;
    color: #000;
    padding: 10px 0;
}
#multiscroll-nav span{
    border: 1px solid #dc143c;
    background: #000;
}