* {
    box-sizing: border-box;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
    background-color: #4bb5fb;
}
.pic {
    float: left;
    width: 33.33%;
    padding: 5px;
    justify-content: space-between;
}

.images::after {
    content:"";
    display: table;
    clear: both;
    justify-content: space-between;
}

.canva {
    max-width: 100%;
    margin-bottom: 50px;
}

nav {
    text-align: center;
    margin: 10px;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.oregon{
    border-radius: 50%;
}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}
.text {
    font-size: 20px;
    padding-left: 20px;
}