* {
    box-sizing: border-box;
}
a:visited {
    color: #6e1c24;
}
a:hover {
    color: #4bb5fb;
}
.h1 {
    font-size: 1em;
    text-align: center;
}

.pic {
    float: left;
    width: 33.33%;
    padding: 5px;
    justify-content: space-between;
}

.images::after {
    content:"";
    display: table;
    clear: both;
    justify-content: space-between;
}

.canva {
    max-width: 100%;
    margin-bottom: 50px;
}

nav {
    text-align: center;
    margin: 10px;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.oregon{
    border-radius: 50%;
}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .skip:focus {
    position: static;
    width: auto;
    height: auto;
  }