body {
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    grouped selectors h1, h2 {color: darkslategray;}
    .special {color: cadetblue;}
    .evenrow {color: crimson;}
    h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25em;}
    h2{font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 15em;}

colgroup {}